@use 'variaveis';

.generos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    
    // Media
    @media (max-width: 768px) {
        height: auto;
        
        ul li {
        flex-wrap: wrap;
        justify-content: center;
        }
    }

    h3 {
        justify-content: center;
        font-size: variaveis.$fonteM;
        color: variaveis.$corFonte;
    }

    ul {
        justify-content: center;

        li {
            display: flex;
            
            p {
                padding: 10px;
                margin: 10px;
                border: 1px solid variaveis.$corFonteSecundaria;
                border-radius: 16px;
                color: variaveis.$corFonteSecundaria;
                font-size: variaveis.$fonteP;
                transition: transform 0.3s ease-out;
        
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}