// variáveis de cor
$corFonte: #fff;
$corFonteSecundaria: silver;
$corFonteFooter: #6c757d;

// variáveis de fonte
$fontePP: 14px;
$fonteP: 16px;
$fonteM: 32px;
$fonteG: 64px;

// variáveis para telas menores
$fonteMobileM: 28px;
$fonteMobileG: 48px;

